##encoding: utf-8

<html>
    <head>
        <title>試做用網頁</title>
        <%include file="meta.html"/>
        <link rel="stylesheet" type="text/css" href="templates/style/base.css">
</head>
<h1> H1<h1>(title不見了,字體變大了...)
<h2>Whats wrong?<h2>

<body>Body測試
    <br />
    以下連結開放中...
    <br />
    <a href='http://tw.yahoo.com/'>測試測試</a><br />
    <br />
    <a href='http://tw.news.yahoo.com/%E8%B1%AA%E5%BC%8F%E5%93%B2%E5%AD%B8-%E7%AC%AC%E5%85%AD%E4%BA%BA-%E4%B9%9F%E8%83%BD%E7%99%BC%E5%85%89-221056604--nba.html'>測試2</a><br />
    <br />
    <a href='csstest.html'>CSS首頁測試</a><br />
    <br />

    <br />
    <%include file="menulink.html"/>
    <%include file="menu2.html"/>
</body>
</html>