##encoding: utf-8
## 請注意, 一定要有語系編碼設定, 否則無法處理中文
    <br />
    <%doc>
    <a href='/kmol/certificates.7z'>certificates.7z</a><br />
    <a href='/kmol/mysqlz'>mysql.7z</a><br />
    <a href='/kmol/nginx-1.2.3.7z'>nginx-2.3.4.7z</a><br />
    <a href='/kmol/Python33.7z'>Python33.7z</a><br />
    <a href='/kmol/portableLatex.7z'>portableLatex.7z</a><br />
    <a href='/kmol/SciTE.7z'>SciTE.7z</a><br />
    <a href='/kmol/certificates.7z'>certificates.7z</a><br />

    </%doc>
    <a href='/example'>Go to cadp example</a><br />
    <a href='/example?category=ia&temp=example'>Go to ia example</a><br />
    <a href='https://github.com/kmollee/cadp2013'>此 repo source code</a><br />
    <a href='http://python-2013falla.rhcloud.com/index'>2013falla(1)</a><br />
    <a href='http://python2-2013falla.rhcloud.com/index'>2013falla(2)</a><br />
    <a href='http://python-2013fallb.rhcloud.com/index'>猜數字</a><br />
    <a href='/kmol/GNT-0000FS.jpg'>GNT-0000FS.jpg</a><br />
    <a href='/db/MDE_timetable.docx'>功課表.docx</a><br />
    <a href='csstest'>CSS首頁</a><br />